// ------- S P A C I N G helpers ******************
//-------------------------------------------------
// grab spacing values from $spacers map in variables.scss bootstrap file
@function spacer($size, $value) {
  @return map-get(map-get($spacers, $size), $value);
}

// create reusable spacing sass variables (ex. padding: $s-1 // equals 0.25rem)
$s-1: spacer(1, x); // 0.25rem
$s-2: spacer(2, x); // 0.5rem
$s-3: spacer(3, x); // 1rem
$s-4: spacer(4, x); // 1.5rem
$s-5: spacer(5, x); // 3rem


// ------- F O N T S I Z E helpers ****************
//-------------------------------------------------
$font-size: (
  "f-xxs": 0.5rem,
  "f-xs": $font-size-xs,
  "f-s": $font-size-sm,
  "f-r": $font-size-base,
  "f-m": $font-size-lg,
  "f-l": $font-size-base * 1.5,
  "f-xl": $font-size-base * 2,
);

// create classes
@each $font, $size in $font-size {
  .#{$font} {
    font-size: $size 
  }
}

// create sass variables
@function fontsize($size) {
  @return map-get($font-size, $size);
}
 
$f-xxs: fontsize("f-xxs");
$f-xs: fontsize("f-xs");
$f-s: fontsize("f-s");
$f-r: fontsize("f-r");
$f-m: fontsize("f-m");
$f-l: fontsize("f-l");
$f-xl: fontsize("f-xl");






