.f-xxs {
  font-size: 0.6666666667rem;
}

.f-xs {
  font-size: 0.8333333333rem;
}

.f-s {
  font-size: 0.9090909091rem;
}

.f-r {
  font-size: 1rem;
}

.f-m {
  font-size: 1.1rem;
}

.f-l {
  font-size: 1.3rem;
}

.f-xl {
  font-size: 1.5rem;
}

.f-xxl {
  font-size: 2rem;
}
